.login {
  min-height: calc(100vh - 5rem);
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 8rem auto;
  padding: 2rem 3rem;
  border-radius: 7px;
  background-color: var(--color-dark--2);

  width: 48rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
