.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
}

.nav a:link,
.nav a:visited {
  color: var(--color-light--2);
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

/* NavLink has active class */
.nav a:global(.active) {
  color: var(--color-brand--2);
}
