.sidebar {
  height: calc(100vh - 4.8rem);
  display: flex;
  flex-basis: 56rem;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 3.5rem 5rem;
}

.footer {
  margin-top: auto;
}

.copyright {
  color: var(--color-light--1);
  font-size: 1.2rem;
}
