@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  color: red;
}
