@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
}

label {
  font-size: 1.6rem;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-light--3);
  font-family: inherit;
  font-size: 1.6rem;
  transition: all 0.2s;
}

input:focus {
  background-color: #fff;
  outline: none;
}

.cta:link,
.cta:visited {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 5px;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
