.notFound {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(66, 22, 86, 0.8), rgba(46, 12, 66, 0.8)), url("../not-found-bg.jpg");
}

.notFound section {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  text-align: center;
}

.notFound h1 {
  font-size: 4.5rem;
  line-height: 1.3;
}

.notFound h2 {
  width: 90%;
  margin-bottom: 1.5rem;
  color: var(--color-light--1);
  font-size: 1.9rem;
}
